.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

.navbar-default .navbar-brand .black
{
    color: #000000;
}

.navbar-default .navbar-brand .black
{
    color: #ffffff;
}

main .form-control
{
    /* center form controls */
    display: inline-block;
    width:200px;    
}



main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: center;
    width: 300px;
}

.available {
    background-color: #28bb9c;
}

.notavailable{
    background-color: #ff6666;
}

.mydiv
{
    display: flex;
}