{% extends "layout.html" %}

{% block title %}
    Equipment Usage Terms
{% endblock %}

{% block main %}

<h1>Photo/Video Equipment Loan Agreement</h1>

<p1>In connection with my work for the Harvard Crimson, from time to time I may request or be

permitted the use of specialized photo, video, electronic, or other equipment made available to

me by the Crimson, whether that equipment is owned or leased by the Crimson or by third

parties. (By way of shorthand, this Agreement refers to all such equipment as “Photo/Video

Equipment.”) By signing this agreement, I confirm that I will be personally responsible for the

proper use and safekeeping of such Photo/Video Equipment, will use the equipment only for

Crimson-related purposes, will immediately report any damage, and will return the equipment

to the Crimson in good working order promptly and upon request, all as set out in further detail

below.

1. Documentation of Loan and Return. I will sign out the Photo/Video Equipment in

accordance with posted Harvard Crimson procedures, and will properly and accurately

document my use of the equipment, including providing the date and location of my

anticipated use, the date and time by which the equipment will be returned to the

Crimson, and details of any peculiarities in the condition or operation of the equipment.

2. Duration and Location of Use. I will return the Photo/Video Equipment to the Crimson

within 24 hours of my first borrowing it, and will not take the Photo/Video Equipment

outside the Cambridge/Boston/Somerville area, unless I have received advance

permission, in writing, from the Crimson’s Multimedia Chair(s).

3. Permissible Uses. I understand that the Photo/Video Equipment may only be used for

authorized Crimson assignments or events unless specifically permitted otherwise, in

advance and in writing, by a Board Chair. If I take the Photo/Video Equipment for any

non-Crimson matter (even with permission), I will be strictly liable for any and all

damage that occurs to the equipment while it is in my custody.

4. Safekeeping. I agree that I will exercise extreme care with the Photo/Video Equipment,

including securing it at all times—whether it is in use or not; whether I have it in my

possession or not; and whether it is physically located in the Crimson offices, on

location, or elsewhere. This includes my obligation to adequately protect the

Photo/Video Equipment from weather; to use the equipment strap (where applicable);

and not to leave the equipment unattended or in a place or position that may render it

susceptible to damage or theft. I understand that I am responsible for any damage to

the Photo/Video Equipment while it is in my custody, and that I may be required to pay

for its repair or replacement if it is lost or destroyed.

The Harvard Crimson

Photo/Video Equipment Loan Agreement

Page 2

- 2 -

1575731.1

5. Proper Use. I will use the Photo/Video Equipment properly to the best of my ability. If

the equipment malfunctions or sustains any damage, I will report the issue

immediately—and in any event within 12 hours—to the appropriate Board Chair. All

repairs to the device must be authorized by the appropriate Board Chair, and I will be

responsible for any damage or loss of warranty coverage that results from unauthorized

repairs.

6. Authorized Users; Theft. Unless I obtain the appropriate Board chair’s written

permission in advance, I will not allow the device to be used by anyone other than

myself. If the device is stolen, I will report the theft to the Board Chair as soon as the

theft is discovered, and I will provide the Crimson with a police report documenting the

theft of the device. I will pay the replacement costs for the device if I fail to report the

theft of the device in a timely manner or fail to provide a police report.

7. Damage. I understand that I may be required to pay the replacement costs of the

device if I fail to return it, by the due date above, in the same condition in which I

borrowed it (excluding ordinary wear and tear and any repairs covered by warranty).

Under such circumstances, the Crimson reserves the right to take other measures

against me, including but not limited to my removal from the comp, my

suspension/removal from active status as a Crimson editor, and/or seeking civil or

criminal remedies against me.</p>

{% endblock %}