{% extends "layout.html" %}

{% block title %}
    Terms of Registration
{% endblock %}

{% block main %}



<h1>Confidentiality Agreement</h1> 

<p>As an editor or staff member of, or contributor to, the Harvard Crimson (The "Crimson"), you may be exposed to Confidential Information or Sensitive

Information (defined below). Such information is of great importance to The Crimson, and The Crimson

requires all editors, staff members, contributors, and other Crimson representatives (each, a “Crimson

Representative”) to treat Confidential Information and Sensitive Information in the manner described below.

In exchange for your involvement with The Crimson, You agree as follows:

1. Definition of Confidential Information & Sensitive Information.

"Confidential Information" means any information, in any form, that relates to (i) The Crimson’s

business and marketing strategies; (ii) the identity of The Crimson’s subscribers, readers, advertisers, and

vendors; (iii) the terms of any contracts between The Crimson and any third party; (iv) financial

information, including, without limitation, pricing arrangements between The Crimson and its advertisers

and vendors; (v) information that has been designated as “Confidential” by the President of the Crimson;

(vi) documents, files, recordings, electronic databases, or other media containing any information within the

scope of subparagraphs (i) through (v), including, without limitation, memoranda, subscriber and

advertising lists, email messages, electronic storage devices, handwritten or computer-generated notes,

video and audio recordings, and correspondence.

“Sensitive Information” means any information, in any form, that relates to (i) files that Crimson

Representatives have created, maintained, or used in performing their duties for The Crimson;

(ii) information obtained as a result of any interview that You or any Crimson Representative has conducted

in the course of his/her involvement with The Crimson; (iii) information regarding the subject matter of any

articles or stories that You have discussed during your tenure at The Crimson as a subject for possible

publication in The Crimson, or that The Crimson intends to publish, may publish, or has considered

publishing; (iv) information that has been designated as “Sensitive” by the President of the Crimson;

(v) documents, recordings, electronic databases, or other media containing any information within the scope

of subparagraphs (i) through (iv), including, without limitation, memoranda, email messages, electronic

storage devices, handwritten or computer-generated notes, video and audio recordings, and correspondence.

The terms “Confidential Information” and “Sensitive Information” do not include any information

that has already been published by The Crimson, or which The Crimson has voluntarily disclosed to the

public without restriction, or which is otherwise known to the public at large.

2. Restrictions on Use of Confidential Information & Sensitive Information.

During your involvement with The Crimson and thereafter, You shall not use or disclose any

Confidential Information or Sensitive Information other than in connection with your work for The

Crimson. You shall use any such information only as necessary to perform your duties for The Crimson.

In addition, You shall not directly or indirectly disclose Confidential Information to anyone outside

of The Crimson (whether by private communication, public address, publication, or otherwise) or to anyone

within The Crimson who has not been authorized to receive such information, except as directed in writing

by an authorized representative of The Crimson. You shall not prepare or assist in the preparation of any

-2-

article, story, or other report that pertains in any way to any topic with respect to which You have used,

developed, or had access to any Confidential Information.

Upon termination of your tenure at The Crimson, You must return to The Crimson all materials

(including, without limitation, documents, video and audio recordings, notes, and external drives) that You

created, gathered, or used during the course of Your involvement with The Crimson.

3. Legal Orders.

In the event that You receive a request to disclose any Confidential Information or Sensitive

Information under any subpoena, order from the administration of Harvard College, or otherwise, You

will (i) promptly notify The Crimson in writing thereof; (ii) consult with The Crimson about the

advisability of taking steps to resist or narrow such requests, which steps may be undertaken by The

Crimson; and (iii) if disclosure is required or deemed advisable, cooperate with The Crimson in any

attempt that it may make to obtain an order or other reliable assurances that appropriate treatment will be

afforded to the Confidential Information or Sensitive Information.

4. Other.

This agreement constitutes the entire agreement of the parties as to the subject matter hereof, and

supersedes all previous agreements between the parties as to the subject matter hereof. Your breach of

this agreement may subject You to expulsion from The Crimson, and could also expose You to civil or

criminal liability. No change, alteration, or modification of this agreement may be made except in a

written agreement signed by the President of The Crimson and You. The failure of The Crimson to

enforce, or a delay by The Crimson in enforcing, any of its rights shall not be deemed a waiver or a

modification of this agreement. This agreement shall be governed by the laws of the Commonwealth of

Massachusetts. You agree that any claim against The Crimson must be brought in the federal or state

courts in the Commonwealth of Massachusetts.






The Harvard Crimson

Editor/Contributor Agreement

Welcome to The Harvard Crimson! We are pleased that you will be working with the Crimson as an editor, writer, artist,

photographer, or other contributor.

This agreement contains some information that our lawyers want you to know relating to your work with the Crimson. Among other

things, this agreement confirms that the Crimson owns all rights in your work for the Crimson; that you are not an employee of

the Crimson; and that the work you contribute will be original to you, free from plagiarism and copyright infringement. Please

take the time to read this agreement, sign below to indicate that you agree to these terms, and then return the signed copy to me.

Unless you sign this agreement, we cannot allow you to work with the Crimson.

1. Not an Employee. You are not an employee of the Crimson, but

rather a student contributor, working for the Crimson for your own

benefit, experience, and training. Regardless of whether you receive

any compensation for your work with the Crimson (by way of

scholarships, financial assistance, work study, or otherwise), you

acknowledge that nothing in this Agreement entitles you to

monetary compensation or other benefits from the Crimson for the

services described herein.

2. Copyright. From time to time you may be asked to, or choose to,

make creative contributions (editorial, photographic, artistic, or

otherwise, referred to individually and collectively as the “Work”)

for the Crimson. You acknowledge that you are creating and/or

providing such Work for the purpose of obtaining training and

experience, and in exchange for the opportunity to have your Work

considered for publication in the Crimson. To the extent that your

Work is entitled to protection under copyright law, you agree that

(i) the Work is a “work made for hire” under the United States

Copyright Act and that the Crimson is the sole author of the Work,

or, (ii) if the Work is determined not to be a “work made for hire,”

then – in consideration of the opportunity to have your work

published in the Crimson – you hereby irrevocably assign the Work

in its entirety (including but not limited to the copyright therein) to

the Crimson.

3. Your Rights to Use the Work. You are free to show the Work

privately to third parties, or to reproduce it privately as part of a

portfolio to teachers and prospective employers, but not for any

other uses unless you first obtain the written permission of the

President of the Crimson.

4. Special to the Crimson. Notwithstanding Sections 2 and 3 of this

Agreement, the Crimson may from time to time accept Work from

you that it will designate as a “Contribution.” You will be the sole

owner of the Contribution, including the copyright therein. Only

unassigned Work is eligible to be designated as a Contribution and

only the President of the Crimson or his or her designee may

designate any Work as a Contribution. In exchange for the Crimson

agreeing to designate a specified Work as a Contribution, you agree

to give the Crimson the exclusive first worldwide publication rights

of the Contribution and the non-exclusive right thereafter to publish

the Contribution in any context and in any media now known or

hereafter devised.

5. Use of Your Personal Resources. The Crimson is not required to

reimburse you if use or expend personal money, resources, or

equipment to produce the Work or Contribution (unless otherwise

agreed in advance and in writing by the President of the Crimson).

The rights conveyed herein are in no way limited by the fact that you

have incurred Expenses to produce the Work or Contribution.

6. Your Warranties. You warrant that (a) you are and will be the

sole creator of all Work and Contributions that you provide to the

Crimson, and that all such Work and/or Contributions shall be

original work by you, free of plagiarism and not previously published

elsewhere in whole or in part; and (b) you own all rights to the Work

and/or Contribution and have not previously assigned, transferred,

encumbered or conveyed such rights.

7. Editing; Cooperation. You agree that the Crimson may edit the

Work or Contribution at its discretion for any reason, including to

conform with its size, format, style, or other requirements. You

agree to cooperate with the Crimson in responding to any

complaints, claims or litigation that may arise regarding the Work

and/or Contribution.

8. Other. This Agreement constitutes the entire agreement of the

parties as to the subject matter hereof, and supersedes all previous

agreements between the parties as to the subject matter hereof.

Your breach of this agreement may subject you to expulsion from

the Crimson, and may also expose you to civil or criminal liability. No

change, alteration, or modification of this Agreement may be made

except in a written agreement signed by the President of the

Crimson and you. The failure of the Crimson to enforce, or a delay

by the Crimson in enforcing, any of its rights shall not be deemed a

waiver or a modification of this Agreement. This Agreement shall be

governed by the United States Copyright Act with respect to

copyright matters and by the laws of the Commonwealth of

Massachusetts in all other respects. You agree that any claim

against the Crimson must be brought in the federal or state courts in

the Commonwealth of Massachusetts. In selecting the checkbox,

you certify that you have read and agreed to the Crimson’s policies.</p>
{% endblock %}